.shrink-grow {
    animation: shrink-grow 1s ease-in-out infinite;
}

.fixedLogo {
    position: fixed;
    color: rgb(221, 221, 221);
}

.linearLogo {
    padding: 1%;
    border-radius: 50px;
    top: 50px;
}

@keyframes shrink-grow {
    0% {
        transform: scale(1);
    }
    
    10% {
        transform: scale(1.2);
    }
    
    20% {
        transform: scale(1.4);
    }
    
    30% {
        transform: scale(1.6);
    }
    
    40% {
        transform: scale(1.8);
    }
    
    50% {
        transform: scale(2);
    }
    
    60% {
        transform: scale(1.8);
    }
    
    70% {
        transform: scale(1.6);
    }
    
    80% {
        transform: scale(1.4);
    }
    
    90% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

/* @keyframes shrink-grow-spin {
    0% {
        transform: scale(3) rotate(0deg);
    }

    25% {
        transform: scale(3) rotate(90deg);
    }

    50% {
        transform: scale(3) rotate(180deg);
    }

    75% {
        transform: scale(3) rotate(270deg);
    }

    100% {
        transform: scale(3) rotate(360deg);
    }
} */